<html>
    <form action="" method="post">
        <label for="username">Ім'я пользователя :</label>
        <input type="text" name="username" value="" id="username">

        <label for="username"> Пароль :</label>
        <input type="password" name="password" value="" id="password">

        <input type="submit" value="login" />
            <input type="hidden" name="next" value="123" />

    </form>

  <form action="input12.php">
    <p><b>Как по вашему мнению расшифровывается аббревиатура "ОС"?</b></p>
    <p><input type="radio" name="answer" value="a1">Офицерский
    состав<Br>
    <input type="radio" name="answer" value="a2">Операционная
    система<Br>
    <input type="radio" name="answer" value="a3">Большой
    полосатый мух</p>


    <p><input type="submit" value="Отправить"></p>
  </form>

 </body>
</html>

















