<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
        <link href="/static/taximanager/css/signin.css" rel="stylesheet">
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container login">
            <div class="row ">
                <div class="center span4 well">
                    <legend>Таксі менеджер</legend>
                    {% if form.errors %}
                        <div class="alert alert-error">
                            <a class="close" data-dismiss="alert" href="/login/">×</a>Невірне ім'я чи пароль
                        </div>
                    {% endif %}
                    <form  method="post" action="{% url 'django.contrib.auth.views.login' %}">
                    {% csrf_token %}
                        <input type="text" id="username" class="span4" name="username" placeholder="Користувач" />
                        <input type="password" id="password" class="span4" name="password" placeholder="Пароль" />
                        <label class="checkbox">
                            <input type="checkbox" name="remember" value="1" /> Запам'ятати мене
                        </label>
                        <button type="submit" name="submit" class="btn btn-primary btn-block">Ввійти</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
